/* Modal - Background */

#modal {
    position: fixed;
    z-index: 99;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.4);
}

/* Modal - Close */

#close-box {
    margin: 0 0 0.5rem 0;
    display: flex;
    justify-content: end;
}

i {
    color: #ffffff;
    font-size: 2.2rem;
    font-weight: 1000;
}

.close-modal:hover,
.close-modal:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

/* Modal - contents */

.modal-content {
    width: 80%;
    border: 1px solid #fff;
    padding: 1.2rem;
    background-color: #000;
    transform: translate(15%, 20%);
    border-radius: 0.5%;
}

.movieMain-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.detailImg-box > img {
    width: 320px;
    height: 480px;
    border-radius: 4%;
}

.movie-box {
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.movieTitle-box,
.creator-box,
.actor-box {
    display: flex;
    margin: 1rem;
}

.movieTitle-box {
    display: flex;
}

.movieTitle-box span {
    font-size: 4rem;
    margin-right: 1.5rem;
}

.movieTitle-box p {
    font-size: 2rem;
    padding-top: 2rem;
}

.creator-box p {
    font-size: 1.3rem;
}

.creator-box span {
    margin-right: 1rem;
    font-size: 1.5rem;
    font-weight: 600;
}

.actor-box p {
    font-size: 1.3rem;
}

.actor-box span {
    margin-right: 1rem;
    font-size: 1.5rem;
    font-weight: 600;
}

.summary-box {
    margin: 1rem;
    width: 800px;
}

.summary-box p {
    line-height: 170%;
}
